<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		
        <!-- <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.connection.url">jdbc:postgresql://pgsql.exclusivebrazil.com.br:5432/exclusivebrazil</property>
        <property name="hibernate.connection.username">exclusivebrazil</property>
        <property name="hibernate.connection.password">12345678</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		 --><!-- <property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
 -->		<!--<property name="hibernate.jdbc.batch_size">20</property>-->
		
		<!-- <property name="hibernate.max_fetch_depth">10</property>
		<property name="hibernate.default_batch_fetch_size">512</property>
 -->		
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<!-- <property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
 -->
 		<mapping class="br.com.exclusivebrazil.model.Client" />
		<mapping class="br.com.exclusivebrazil.model.Destination" />
		<mapping class="br.com.exclusivebrazil.model.DestinationLanguage" />
		<mapping class="br.com.exclusivebrazil.model.Facilities" />
		<mapping class="br.com.exclusivebrazil.model.Hotel" />
		<mapping class="br.com.exclusivebrazil.model.HotelLanguage" />
		<mapping class="br.com.exclusivebrazil.model.Language" />
		<mapping class="br.com.exclusivebrazil.model.Neighborhood" />
		<mapping class="br.com.exclusivebrazil.model.State" />
		<mapping class="br.com.exclusivebrazil.model.Country" />
		<mapping class="br.com.exclusivebrazil.model.City" />
		
	</session-factory>

</hibernate-configuration>